<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Scholarship</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WR8FN3F7KB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WR8FN3F7KB');
</script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="/style.css/scholarship.css">
   <link rel="stylesheet" href="/style.css/nav.css">
   <script src="/script.js/script.js"></script>
</head>
<body>

    <%- include("partials/nav.ejs") %>
    <main class="main-content">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title ">OUIAA SCHOLARSHIP PROGRAMME</h1>
                <p class="page-subtitle">
                    Empowering the next generation through education and opportunity
                </p>
            </div>

            <div class="content-section">
                <h2 class="section-title">About the Alumni Scholarship Fund</h2>
                <div class="section-content">
                    <p>
                        The OUIAA Scholarship Programme is a merit-based initiative designed to empower undergraduates at Oduduwa University who show outstanding academic promise, resilience, and a desire to positively influence their communities. Education is not just a personal journey
                         it is a pathway to transforming society. Through this scholarship, we are seeking to identify students who have not only achieved academic excellence but who have also shown character, leadership, and commitment in the face of personal or financial hardship. This scholarship covers partial or full tuition fees for the academic year and is funded by generous sponsors who believe in the power of young minds to shape a better future. 
                        </p>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2025 OUIAA. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>