<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application OUIAA SCHOLARSHIP PROGRAMME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="/style.css/scholarship.css">
   <link rel="stylesheet" href="/style.css/nav.css">
   <script src="/script.js/script.js"></script>
</head>
<body>

    <%- include("partials/nav.ejs") %>
    
    <main class="main-content">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">Application for OUIAA SCHOLARSHIP PROGRAMME</h1>
            </div>

            <div class="content-section">
                <div class="section-content">
                    <p>
                        Please complete the form using the button below carefully and attach all required documents. 
                        You’ll need to provide details about your background, academic record, and a short statement about your goals and why you’re applying.
                         Also, ensure your Personal & Financial Impact Statement meets the stated requirements.
                        </p>
                        <p>If you have any questions or difficulties, please contact us at <a href="mailto:directorofacademicouiaa@gmail.com ">directorofacademicouiaa@gmail.com </a> </p>
                        <div>
                            <a href="/imageb/OUIAA Scholarship Information Pack.pdf" download>Download Form <i class="fa-solid fa-download"></i></a>
                        </div>
                        <div class="click-me">
                         <a href="https://forms.gle/m43vAruaprgzsnA8A " target="_blank" class="btn">Apply</a>
                        </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div  style="position: relative;  top: 120px;">
        <div class="footer-bottom">
            <p>&copy; 2025 OUIAA. All rights reserved.</p>
        </div>
    </div>
    </footer>
</body>
</html>