<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligibility - OUIAA Scholarship Programme</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WR8FN3F7KB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WR8FN3F7KB');
</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css/scholarship.css">
    <link rel="stylesheet" href="/style.css/nav.css">
    <script src="/script.js/script.js"></script>
</head>
<body>

    <%- include("partials/nav.ejs") %>

    <main class="main-content">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">OUIAA SCHOLARSHIP PROGRAMME </h1>
                <p class="page-subtitle">
                    To ensure that the scholarship reaches students who are both in need and capable of
                     making the most of the opportunity, applicants must meet the following criteria: 
                </p>
            </div>

            <div class="eligibility-section">
                <h2 class="section-title">Eligibility Requirements</h2>
                <div class="requirements-grid">
                    <div class="requirement-card">
                        <h3 class="requirement-title">General Eligibility Criteria</h3>
             
                        <ul class="requirement-details">
                            <li>
                                Be currently enrolled as a full-time undergraduate student at Oduduwa University.
                             </li>
                            <li>
                                Must be in a 200-level or higher level at the time of application.  Students in 100-level are not eligible. 

                            </li>
                            <li>
                                Have a minimum CGPA of 3.5 on a 5.0 scale from the most recent academic session. 
                            </li>
                            <li>
                                Be able to provide a clear and detailed combined financial and personal
                                 impact statement, outlining why the scholarship is needed and how it will benefit their academic journey.
                                </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2025 OUIAA. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>