<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imageb/favicon.png" sizes="200x200" type="image/x-icon">
    <title>OUIAA Leadership</title>
    <link rel="stylesheet" href="style.css/leadership.css">
    <link rel="stylesheet" href="style.css/nav.css">
    <script src="script.js/script.js"></script>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <section>
        <div class="container">
            <div class="section-title">
                <h2>Executive Council</h2>
                <span>Meet the dedicated alumni volunteers who guide our community and drive our mission forward.</span>
            </div>
            <div class="leadership-top">
            <div class="leadership-grid">
                <div class="card">
                    <img src="/imageb/board-img/chairman.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h3 class="card-name">Otunba Isaac Amao, fimc, Ph.D (in-view)</h3>
                        <p class="card-description">
                       OUIAA Chairman, Board of Trustees
                        </p>
                    
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/ouiaa-president.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h3 class="card-name">Marvelous Ayodele (MSc, MRSC, ACSM)</h3>
                        <p class="card-description">
                            OUIAA President Worldwide
                        </p>
                    
                    </div>
                </div>
            </div>
        </div>
            
            <div class="leadership-grid">
                <div class="card">
                    <img src="imageb/board-img/vp.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                       
                        <h3 class="card-name">Susan Adedini</h3>
                         <p class="card-description">
                             OUIAA Vice President 
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/g-sec.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                    
                        <h3 class="card-name">Godwin Akpan
                          </h3>
                        
                            <p class="card-description">
                                OUIAA General Secretary 
                        </p>
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/ict.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Innocent Ayodele
                            </h3>
                        <p class="card-description">
                            OUIAA ICT Director
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/assistant-g-sec.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Oluwaseyi Fayinka
                            </h3>
                        <p class="card-description">
                            Assistant General-Secretary
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/assist-pc.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Ogundeji Opeyemi David
                            </h3>
                        <p class="card-description">
                            Assist Program Coordinator
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/dir-fa.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Abdulwareez Ayodele, BSc MSc MIPEM
                            </h3>
                        <p class="card-description">
                            Director of Foreign Affairs
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/ass-social-welfare-dir.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Olujide Mayowa Obalolu 
                            </h3>
                        <p class="card-description">
                            Assistant Social Welfare Director, OUIAA
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/dir-pro1.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Arc. Ayoola Pamilerin Samuel
                            </h3>
                        <p class="card-description">
                            Director of Program
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/ass-dir-academic.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Peter A. Agbessi 
                            
                            </h3>
                        <p class="card-description">
                            Ass. Director of Academics
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/treasure.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Timothy Ayodele Bello 
                           
                            </h3>
                        <p class="card-description">
                            Treasurer
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/press-sec.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">ADENIKE ADEWUNMI

                            
                            </h3>
                        <p class="card-description">
                            CHIEF PRESS SECRETARY/EDITOR OUIAA WORLDWIDE
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/dir-skills.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">

                            OLUWATOSIN AJAYI, MBA, MNSE, ACIPMP, ACIEHS

                            </h3>
                        <p class="card-description">
                            DIR. OF SKILL ACQUISITION, EMPOWERMENT & TRAINING
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/student-liaision.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Taiwo Oyelowo 
                          

                            
                            </h3>
                        <p class="card-description">
                            Student liaison, OUIAA WorldWide
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/public-r.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Buraimoh Victoria Tobi

                            
                            </h3>
                        <p class="card-description">
                            Public Relations Officer
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/financial-sec.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Oyinkansola Subair
                            

                            
                            </h3>
                        <p class="card-description">
                           
                            Financial Secretary
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/social-welfare.JPG" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Flourish Oyewole 
                            
                            

                            
                            </h3>
                        <p class="card-description">
                           
                            Social Welfare, OUIAA
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/Director-Academics.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Adeniyi O. Kenneth
                            
                            

                            
                            </h3>
                        <p class="card-description">
                           
                            Director of Academics
                        </p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-title">
                <h2>IT Teams</h2>
            </div>
            <div class="leadership-top">
            <div class="leadership-grid">
                <div class="card">
                    <img src="imageb/board-img/david.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                       
                        <h3 class="card-name">David Onuche</h3>
                         <p class="card-description">
                            Team Lead
                        </p>
                    </div> 
                        
                    </div>
                </div>
            </div>
            <div class="leadership-grid">
        
                <div class="card">
                    <img src="imageb/board-img/gbolahan.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                    
                        <h3 class="card-name">Gbolahan Akande (Techlyth)
                          </h3>
                        
                            <p class="card-description">
                                Front-End Developer
                        </p>
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/Emma.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Godpower Emmanuel 
                            </h3>
                        <p class="card-description">
                            Back-End Developer
                        </p>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <img src="imageb/board-img/goodness.jpeg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        
                        <h3 class="card-name">Goodness Emmanuel 
                            </h3>
                        <p class="card-description">
                            Front-End Developer
                        </p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
            </section>

            <footer>
                <div  style="position: relative;  top: 150px;">
                <div class="footer-bottom">
                    <p>&copy; 2025 OUIAA. All rights reserved.</p>
                </div>
            </div>
            </footer>
            
</body>
</html>