<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Criteria  OUIAA Scholarship Programme</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WR8FN3F7KB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WR8FN3F7KB');
</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="/style.css/scholarship.css">
   <link rel="stylesheet" href="/style.css/nav.css">
   <script src="/script.js/script.js"></script>
</head>
<body>

    <%- include("partials/nav.ejs") %>

    <div class="page-wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Selection Criteria
                </h1>
                <p class="page-subtitle">
            Each application will be scored out of 100 points across the following categories:
                </p>
            </div>
        <div class="box">
            <div class="criteria-box">
                <ul class="criteria-list">
                    <li>Academic Performance (20 points): Based on CGPA and academic transcript. Higher scores reflect stronger performance and consistency.</li>
                    <li>Personal & Financial Impact Statement (20 points): Judged on the depth, authenticity, and persuasiveness of the applicant’s narrative, as well as clarity and structure.</li>
                    <li>Leadership & Community Engagement (20 points): Awarded for meaningful involvement in extracurricular or community-based activities, especially where initiative and responsibility are evident.</li>
                    <li>Presentation and Communication (10 points): Includes quality of writing, completeness of the form, and how well the candidate communicates their story and ambitions.</li>
                    <li>Interview (30 points): This will assess the applicant's self-awareness, clarity of purpose, and ability to articulate the impact of the scholarship.</li>
                </ul>
            </div>
        <div class="info-box"></div>
                <span style="font-weight: bold; font-style: italic; text-align: center;">Applications that score highly across all areas and align with the values of the programme will be prioritised.</span>
        
        </div>
       </div>
       <footer>
            <div  style="position: relative;  top: 150px;">
            <div class="footer-bottom">
                <p>&copy; 2025 OUIAA. All rights reserved.</p>
            </div>
            </div>
        </footer>
    </div>
    
</body>
</html>